<% provide(:title, 'About') %>
<h1>About</h1>
<p>Commute is the simplest communication application , which connects the individuals
with the common intrest.</p>

<p>@Developer: SunilPrakash @Analyst: iSunny </p>