<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<div id="logo">
         <%= link_to image_tag("sprakas-logo.gif", :alt => "Sunil Prakash"), '#' %>
          	</div>
          	<nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    home_path %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
